<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console">
			<PatternLayout>
				<Pattern>%d %p %c{2} [%t] %l %m%n</Pattern>
			</PatternLayout>
		</Console>
		<RollingFile name="File" append="true" filename="target/logs/google-cloud-calculator-tests.log" 
					filePattern="target/logs/google-cloud-calculator-tests.%d{MM-dd-yyyy}.log.gz">
			<PatternLayout>
				<Pattern>%d %p %c{2} [%t] %m%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="1" />
			</Policies>
			<DefaultRolloverStrategy max="5" />
		</RollingFile>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Console" />
			<AppenderRef ref="File" />
		</Root>
	</Loggers>
</Configuration>